<%= form_with(model: container, id: "form_container") do |form|  %>
  

  <h1 class="title">New Container</h1>

  <div class="container_group">
    <%= form.label :container_type %>
    <%= form.select :container_type, ['FR20', 'FR40', 'OT20','OT40']%>
  </div>

  <table class="item_group">
    <tr class="title_item">
        <th rowspan="2" class="title_item" >SEQ</th>
        <th rowspan="2" class="title_item">PACKING STYLE</th>
        <th colspan="4" class="title_item"> SIZE </th>
        <th colspan="2" class="title_item"> GROSS WEIGHT </th>
        <th colspan="2" class="title_item"> CENTER OF GRAVITY HEIGHT</th>
        <th rowspan="2"  colspan="2" class="title_item"> ACTIONS </th>
    </tr>
    
      <tr class="sub_title_item">
        <td>LENGTH</td>
        <td>WIDTH</td>
        <td>HEIGHT</td>
        <td>UNIT</td>
        <td>WEIGHT</td>
        <td>UNIT</td>
        <td>HEIGHT</td>
        <td>UNIT</td>
      </tr>
      <% @items.each do |item| %>
        <tr class="item_result">
          <td><%= item.id %></td>
          <td><%= item.packing_style %></td>
          <td><%= item.length %></td>
          <td><%= item.width %></td>
          <td><%= item.height %></td>
          <td><%= item.height_unit %> </td>
          <td><%= item.weight %></td>
          <td><%= item.weight_unit%> </td>
          <td><%= item.cog_height %></td>
          <td><%= item.cog_height_unit%></td>
          <td><%= link_to 'Edit', edit_item_path(item) %></td>
          <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end%>
  </table>

  <div class="actions d-flex flex-row-reverse">
    <div class="btn btn-primary">
      <%= link_to "Add", :new_item%>
    </div>
    <%= form.submit "Submit", class: "btn btn-primary"%>
    
  </div>
<% end %>