<div id="form_container">
  <% @result %>
<p>
  <strong>Container type:</strong>
  <%= @result['container_type'] %>
</p>
 

  <table class="item_group">
    <tr class="title_item">
        <th rowspan="2" class="title_item" >SEQ</th>
        <th rowspan="2" class="title_item">PACKING STYLE</th>
        <th colspan="4" class="title_item"> SIZE </th>
        <th colspan="2" class="title_item"> GROSS WEIGHT </th>
        <th class="title_item"> COG HEIGHT</th>
        <th   class="title_item">RESULT </th>
        <th colspan="2" rowspan="2" class="title_item"> REMARKS</th>
    </tr>
    
    <tr class="sub_title_item">
      <td>LENGTH</td>
      <td>WIDTH</td>
      <td>HEIGHT</td>
      <td>UNIT</td>
      <td>WEIGHT</td>
      <td>UNIT</td>
      <td>HEIGHT</td>
      <td>ACCEPTANCE</td>
    </tr>
   
    <% @result['items'].each_with_index do |item,index_of_item| %>
      <tr class="item_result">
        <td><%= index_of_item + 1 %></td>
        <td><%= item["packing_style"] %></td>
        <td><%= item['length'] %></td>
        <td><%= item['width'] %></td>
        <td><%= item['height'] %></td>
        <td>cm</td>
        <td><%= item['weight'] %></td>
        <td>ton</td>
        <td><%= item['cog_height'] %>cm</td>
        <td id="acceptance_item"><%= item['result'] %></td>
        <td>
          <% if !item['remark'].blank? %>
            <% item['remark'].each do |remark| %>
              <p>- <%= remark%> </p>
            <%end%>
          <%end%>
        </td>
      </tr>

      
    <% end %>

    <tr class="result_container">
        <td colspan="2">TOTAL</td>
        <td><%= @result['total_length'] %></td>
        <td colspan="3">cm</td>
        <td><%= @result['total_weight'] %></td>
        <td colspan="2">ton</td>
        <td><%= @result['total_result'] %> </td>
        <td>
          <% if !@result['total_remark'].blank? %>
            <% @result['total_remark'].each do |total_remark| %>
              <p>- <%= total_remark%></p>
            <% end %>
          <%end%>
        </td>
      
    </tr>

  </table>

  <div class="conclusion">
    <h4>CONCLUSION OF YOUR INQUIRY</h4>
    <div class="group_conclusion d-flex justify-content-center">
        <p id="final_conclusion"><%= @result['final_conclusion'] %></p>
    </div>
  </div>

</div>


